* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: purple;
  color: #fff;
  text-align: center;
}

.home-page,
.container-comic {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  padding: 80px 0;
  text-align: left;
}

.home-page h2,
.container-comic h2 {
  margin: 10px 0;
}

.home-page h2 a,
.container-comic h2 a {
  text-decoration: underline;
  color: #fff;
}

.home-page ul li,
.container-comic ul li {
  list-style: auto;
  margin: 15px 0;
  font-size: 25px;
}

.home-page ul li a,
.container-comic ul li a {
  text-decoration: none;
  color: #fff;
}

.container-comic {
  flex-direction: column;
}

.container-comic h2,
.container-comic h3,
.container-comic div {
  margin: 15px 0;
}

.container-comic div {
  font-size: 18px;
}

h1 {
  padding-top: 20px;
}

input,
label {
  margin: 15px 0;
  font-size: 20px;
}

